<!doctype html>
<html>
    <head>
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="static/aprs_symbols.js"></script>

    <script>
        function mapping_onload()
        {
            // load up the map...
             mapping_map = L.map('mapid').setView({{config.map.center_start}}, {{config.map.zoom_start}});

             L.tileLayer('{{config.map.url}}', {
                attribution: '{{config.map.attribution|safe}}',
                maxZoom: 18,
                id: '{{config.map.id}}',
                accessToken: '{{config.map.access_token}}'
            }).addTo(mapping_map);

            // Icon options
            var iconOptions = {
                iconUrl: 'static/basic_symbol.png',
                iconSize: [16, 16]
            }
            // Creating a custom icon
            customIcon = L.icon(iconOptions);

            // Load up the symbols
            aprs_symobols_init(function()
            {
                console.log("loaded symbols");
            });



            load_points();
        }

        function create_aprs_icon(a,b)
        {
            let iconOptions = {iconSize: [32, 32],  iconUrl: 'static/basic_symbol.png'}
            let img_obj = aprs_symbol_fetch(a,b);
            if(img_obj != null)
            {
                iconOptions['iconUrl'] = img_obj.src;
            }

            return L.icon(iconOptions);
        }

        function load_points()
        {
            $.getJSON( "last-points/360000", function( data ) {
                $.each( data.points, function( n, point ) {
                       var marker = L.marker([point.latitude, point.longitude],
                            {title: point.from, icon:create_aprs_icon(point.symbol_table, point.symbol), clickable: true}).addTo(mapping_map);
                       var text = 'from :'+point.from;
                       if ("object_name" in point)
                       {
                            text = point.object_name + ' ' + text;
                       }
                       marker.bindPopup(text);

                       // Is there a path?
                       if ("moving_path" in point)
                       {
                            var polyline_path = [[point.latitude, point.longitude]];
                            var polyline_opts = {color:'red'};
                            // Create a line...
                            $.each( point.moving_path, function( n, move_point ) {
                                polyline_path.push([move_point[1], move_point[2]]);
                            });
                            var pline = new L.Polyline(polyline_path , polyline_opts);
                            pline.addTo(mapping_map);
                       }

                    });


            });

        }


    </script>

    </head>
    <body onload="mapping_onload();" style="margin:0px;">
    <div id="mapid" style="padding:0px; width:calc(100vw); height:calc(100vh); background-color: #FBD603;"></div>
    </body>
</html>

