@keyframes fade {
  from { opacity: 0.5; }
}

.dot {
  height: 65px;
  width: 65px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  outline-width:10px;
  outline-style: dotted;
}

.blinking {
  animation: fade 1s infinite alternate;
}
